<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Google font -->
 <link href='http://fonts.googleapis.com/css?family=Indie Flower' rel='stylesheet' type='text/css'>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  
</div>


	<div class="container-fluid">
		<div class="row"> <!--header menu -->
		<nav class="navbar navbar-default nopadding">
		 
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand nopadding" href="#"><img class="logo img-responsive" src="http://placehold.it/200X80/993333/FFFFFF"/></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="center-align"><!--nav navbar-nav navbar-right-->
		        <li><a href="#">CV WRITING</a></li>
		        <li><a href="#">INTERVIEWS</a></li>
		        <li><a href="#">WORK</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		
		</nav>
		</div>	
		
		<div class="main-content">
			<%= yield %>
		</div>
			
			<div class="row"> <!--footer section -->

			<div id="footer">
			
				<div class="col-md-12">
					<ul>
						<strong style="color:white;margin-right:20px;">&copy By tracey & bonolo</strong>
				
						<%= link_to 'disclaimer', disclaimer_page_disclaimer_path %>
					
						<%= link_to 'sitemap', sitemap_page_sitemap_path %>
					
						<a href="button.html" style="float:right;">button</a>
					</ul>
				</div>
			</div>

		</div>	
	</div>	
</body>
</html>
